/* Custom CSS */
.bg-dark-custom {
    background-color: #0d0d0d;
    color: white;
}

.custom-card {
    background: #1a1a1a; /* Warna card */
    border-radius: 24px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.05);
    height: 100%;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background: #252525;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}

/* Warna Aksen Hijau/Orange */
.text-accent-green { color: #b7ff4d; }
.text-accent-orange { color: #ff9f43; }